
.input {
    display: flex;
    width: 99%;
    margin: 0 auto;
    height: 56px;
    font-size: 16px;
    border-radius: 2px;

    &__div {
        font-weight: 600;
    }

    &__error {
        color: red;
        margin: 0;
    }
}
