
.input {
    display: flex;
}

.input__error {
    color: red;
    margin: 0;
}

.input--email, .input--password, .input{
    width: 544px;
    height: 56px;
    font-size: 16px;
    border-radius: 2px;
}
