@import "../../styles/_variables";

.burger {
    z-index: 2;
    line-height: 0px;
    width: 236px;
    position: fixed;
    left: 0;
    top: 84px;
    transform: translateX(-100%);
    transition: all 0.2s;

    &.active {
        transform: translateX(0);
    }

    &__user {
        height: 83px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-primary;
    }

    &__buttons {
        height: 80vh;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.button--burger {
    width: 100%;
    border: 2px solid $color-light;
    
    &--theme {
        width: 50%;
        border: 2px solid $color-light;
    }
}