$color-primary: #2231AA;
$color-primary2: #5360CD;
$color-secondary: #313037;
$color-light: #E8E8E8;

$color-gray: #8D8E97;
$color-medium: #DADADA;;
$color-extralight: #F3F3F3;

$color-error: #FD3419;
$color-white: #FFFFFF;;

$color-disabled: #E8E8E8;
$color-bgc: #E5E5E5

