@import "../../styles/_variables";

.header {
    &__main {
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    line-height: 84px;
    }

    &__buttons {
        border: none;
        background-color: inherit;
        height: 100%;
    }

    &__right {
        display: flex;
    }

    &__burger {
        border-right: 1px solid $color-primary2;
        cursor: pointer;
    }

    &__search {
        border-right: 1px solid $color-primary2;
        border-left: 1px solid $color-primary2;
        cursor: pointer;
    }

    &__user {
        color: white;
        font-weight: 600;
        padding-right: 10px;

        &--abbr {
            padding: 14px;
            margin: 0 15px;
            height: 24px;
            background-color: $color-primary2;
        }
    }
}

